<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/css/styles.css">
  <script src="javascripts/vendor/jquery/dist/jquery.min.js"></script>

  <script src="javascripts/vendor/three.js"></script>
	<script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>
</head>
<body>

<div role="main">

<header>
</div>
<div class="contain">
</div>
</header>

<!-- Page Content Below -->